.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
}

.theme-switch {
    display: none;
}

.theme-switch-label {
    position: relative;
    width: 50px;
    height: 25px;
    background-color: var(--secondary-text-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-switch-label i {
    color: #fff;
    font-size: 16px;
}

.theme-switch:checked + .theme-switch-label {
    background-color: var(--button-color);
}

.theme-switch:checked + .theme-switch-label .fa-sun {
    display: none;
}

.theme-switch:not(:checked) + .theme-switch-label .fa-moon {
    display: none;
}

body.dark-mode {
    --bg-color: #171717;
    --text-color: #e8e8e8;
    --secondary-text-color: #b5b5b5;
    --secondary-color: #2c2c2c;
    --button-color: #efa124e5;
}
body.dark-mode::before {
    transform: scale(1);
  }

body.dark-mode .header {
    background-color: var(--secondary-color);
}

body.dark-mode .logo-text a,
body.dark-mode .list-link a,
body.dark-mode .contact-btn {
    color: var(--text-color);
}

body.dark-mode section {
    background-color: var(--secondary-color);
}

body.dark-mode .project-card {
    background-color: var(--secondary-color);
    color: var(--text-color);
}